/*
Implementations Skeletor v3 - 5/10/2014

oustyles.css

Add styles to overwrite customer CSS, USE WITH CAUTION.

Contributors: Your Name Here
Last Updated: Enter Date Here
*/

/*a.pdf:after,#main a[href$=pdf]:after,a.doc:after,#main a[href$=doc]:after,a.docx:after,#main a[href$=docx]:after,a.xls:after,#main a[href$=xls]:after,a.xlsx:after,#main a[href$=xlsx]:after,a.ppt:after,#main a[href$=ppt]:after,a.pptx:after,#main a[href$=pptx]:after{content:"";background:url(/_resources/images/icons/icons-sprite.png) no-repeat left top; }*/
li.visually-hidden {visibility: hidden;}

a[data-region-style='button'].ou-btn, a[data-region-style='button'].ou-btn:hover, a[data-region-style='button'].ou-btn:active, a[data-region-style='button'].ou-btn:focus {
    text-shadow: none;
}


.ou-justedit-region li.visually-hidden {position: relative; visibility: visible; outline: 1px dashed #999; background-color: #efefef;}
.ou-justedit-region li.visually-hidden::before {
	position: absolute;
	font-size: 0.7em;
	top: -0.4em;
	left: 1em;
    color: rgba(50,50,50, 0.75);
	background-color: #FFF;
}
.ou-justedit-region li.visually-hidden::before  {content: '[ Visually Hidden ]';}



/* OU RSS Feedback (Preview Only) (Based on Bootsrap v3.3.7 Tables) */
.ou-rss-feedback table {background-color: transparent}
.ou-rss-feedback caption {padding-top: 8px;padding-bottom: 8px;color: #777;text-align: left}
.ou-rss-feedback th {text-align: left}
.ou-rss-feedback .table {width: 100%;max-width: 100%;margin-bottom: 20px}
.ou-rss-feedback .table>tbody>tr>td,.ou-rss-feedback .table>tbody>tr>th,.ou-rss-feedback .table>tfoot>tr>td,.ou-rss-feedback .table>tfoot>tr>th,.ou-rss-feedback .table>thead>tr>td,.ou-rss-feedback .table>thead>tr>th {padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd}
.ou-rss-feedback .table>thead>tr>th {vertical-align: bottom;border-bottom: 2px solid #ddd}
.ou-rss-feedback .table>caption+thead>tr:first-child>td,.ou-rss-feedback .table>caption+thead>tr:first-child>th,.ou-rss-feedback .table>colgroup+thead>tr:first-child>td,.ou-rss-feedback .table>colgroup+thead>tr:first-child>th,.ou-rss-feedback .table>thead:first-child>tr:first-child>td,.ou-rss-feedback .table>thead:first-child>tr:first-child>th {border-top: 0}
.ou-rss-feedback .table>tbody+tbody {border-top: 2px solid #ddd}
.ou-rss-feedback .table .table {background-color: #fff}
.ou-rss-feedback .table-condensed>tbody>tr>td,.ou-rss-feedback .table-condensed>tbody>tr>th,.ou-rss-feedback .table-condensed>tfoot>tr>td,.ou-rss-feedback .table-condensed>tfoot>tr>th,.ou-rss-feedback .table-condensed>thead>tr>td,.ou-rss-feedback .table-condensed>thead>tr>th {padding: 5px}
.ou-rss-feedback .table-bordered {border: 1px solid #ddd}
.ou-rss-feedback .table-bordered>tbody>tr>td,.ou-rss-feedback .table-bordered>tbody>tr>th,.ou-rss-feedback .table-bordered>tfoot>tr>td,.ou-rss-feedback .table-bordered>tfoot>tr>th,.ou-rss-feedback .table-bordered>thead>tr>td,.ou-rss-feedback .table-bordered>thead>tr>th {border: 1px solid #ddd}
.ou-rss-feedback .table-bordered>thead>tr>td,.ou-rss-feedback .table-bordered>thead>tr>th {border-bottom-width: 2px}
.ou-rss-feedback .table-striped>tbody>tr:nth-of-type(odd) {background-color: #f9f9f9}
.ou-rss-feedback .table-hover>tbody>tr:hover {background-color: #f5f5f5}
.ou-rss-feedback table col[class*=col-] {position: static;display: table-column;float: none}
.ou-rss-feedback table td[class*=col-],.ou-rss-feedback table th[class*=col-] {position: static;display: table-cell;float: none}
.ou-rss-feedback .table>tbody>tr.active>td,.ou-rss-feedback .table>tbody>tr.active>th,.ou-rss-feedback .table>tbody>tr>td.active,.ou-rss-feedback .table>tbody>tr>th.active,.ou-rss-feedback .table>tfoot>tr.active>td,.ou-rss-feedback .table>tfoot>tr.active>th,.ou-rss-feedback .table>tfoot>tr>td.active,.ou-rss-feedback .table>tfoot>tr>th.active,.ou-rss-feedback .table>thead>tr.active>td,.ou-rss-feedback .table>thead>tr.active>th,.ou-rss-feedback .table>thead>tr>td.active,.ou-rss-feedback .table>thead>tr>th.active {background-color: #f5f5f5}
.ou-rss-feedback .table-hover>tbody>tr.active:hover>td,.ou-rss-feedback .table-hover>tbody>tr.active:hover>th,.ou-rss-feedback .table-hover>tbody>tr:hover>.active,.ou-rss-feedback .table-hover>tbody>tr>td.active:hover,.ou-rss-feedback .table-hover>tbody>tr>th.active:hover {background-color: #e8e8e8}
.ou-rss-feedback .table>tbody>tr.success>td,.ou-rss-feedback .table>tbody>tr.success>th,.ou-rss-feedback .table>tbody>tr>td.success,.ou-rss-feedback .table>tbody>tr>th.success,.ou-rss-feedback .table>tfoot>tr.success>td,.ou-rss-feedback .table>tfoot>tr.success>th,.ou-rss-feedback .table>tfoot>tr>td.success,.ou-rss-feedback .table>tfoot>tr>th.success,.ou-rss-feedback .table>thead>tr.success>td,.ou-rss-feedback .table>thead>tr.success>th,.ou-rss-feedback .table>thead>tr>td.success,.ou-rss-feedback .table>thead>tr>th.success {background-color: #dff0d8}
.ou-rss-feedback .table-hover>tbody>tr.success:hover>td,.ou-rss-feedback .table-hover>tbody>tr.success:hover>th,.ou-rss-feedback .table-hover>tbody>tr:hover>.success,.ou-rss-feedback .table-hover>tbody>tr>td.success:hover,.ou-rss-feedback .table-hover>tbody>tr>th.success:hover {background-color: #d0e9c6}
.ou-rss-feedback .table>tbody>tr.info>td,.ou-rss-feedback .table>tbody>tr.info>th,.ou-rss-feedback .table>tbody>tr>td.info,.ou-rss-feedback .table>tbody>tr>th.info,.ou-rss-feedback .table>tfoot>tr.info>td,.ou-rss-feedback .table>tfoot>tr.info>th,.ou-rss-feedback .table>tfoot>tr>td.info,.ou-rss-feedback .table>tfoot>tr>th.info,.ou-rss-feedback .table>thead>tr.info>td,.ou-rss-feedback .table>thead>tr.info>th,.ou-rss-feedback .table>thead>tr>td.info,.ou-rss-feedback .table>thead>tr>th.info {background-color: #d9edf7}
.ou-rss-feedback .table-hover>tbody>tr.info:hover>td,.ou-rss-feedback .table-hover>tbody>tr.info:hover>th,.ou-rss-feedback .table-hover>tbody>tr:hover>.info,.ou-rss-feedback .table-hover>tbody>tr>td.info:hover,.ou-rss-feedback .table-hover>tbody>tr>th.info:hover {background-color: #c4e3f3}
.ou-rss-feedback .table>tbody>tr.warning>td,.ou-rss-feedback .table>tbody>tr.warning>th,.ou-rss-feedback .table>tbody>tr>td.warning,.ou-rss-feedback .table>tbody>tr>th.warning,.ou-rss-feedback .table>tfoot>tr.warning>td,.ou-rss-feedback .table>tfoot>tr.warning>th,.ou-rss-feedback .table>tfoot>tr>td.warning,.ou-rss-feedback .table>tfoot>tr>th.warning,.ou-rss-feedback .table>thead>tr.warning>td,.ou-rss-feedback .table>thead>tr.warning>th,.ou-rss-feedback .table>thead>tr>td.warning,.ou-rss-feedback .table>thead>tr>th.warning {background-color: #fcf8e3}
.ou-rss-feedback .table-hover>tbody>tr.warning:hover>td,.ou-rss-feedback .table-hover>tbody>tr.warning:hover>th,.ou-rss-feedback .table-hover>tbody>tr:hover>.warning,.ou-rss-feedback .table-hover>tbody>tr>td.warning:hover,.ou-rss-feedback .table-hover>tbody>tr>th.warning:hover {background-color: #faf2cc}
.ou-rss-feedback .table>tbody>tr.danger>td,.ou-rss-feedback .table>tbody>tr.danger>th,.ou-rss-feedback .table>tbody>tr>td.danger,.ou-rss-feedback .table>tbody>tr>th.danger,.ou-rss-feedback .table>tfoot>tr.danger>td,.ou-rss-feedback .table>tfoot>tr.danger>th,.ou-rss-feedback .table>tfoot>tr>td.danger,.ou-rss-feedback .table>tfoot>tr>th.danger,.ou-rss-feedback .table>thead>tr.danger>td,.ou-rss-feedback .table>thead>tr.danger>th,.ou-rss-feedback .table>thead>tr>td.danger,.ou-rss-feedback .table>thead>tr>th.danger {background-color: #f2dede}
.ou-rss-feedback .table-hover>tbody>tr.danger:hover>td,.ou-rss-feedback .table-hover>tbody>tr.danger:hover>th,.ou-rss-feedback .table-hover>tbody>tr:hover>.danger,.ou-rss-feedback .table-hover>tbody>tr>td.danger:hover,.ou-rss-feedback .table-hover>tbody>tr>th.danger:hover {background-color: #ebcccc}
.ou-rss-feedback .table-responsive {min-height: .01%;overflow-x: auto}
.ou-rss-feedback table>tbody>tr>th[scope="row"] {white-space: nowrap;} /* OU */

@media screen and (max-width: 767px) {
	.ou-rss-feedback .table-responsive {width:100%;margin-bottom: 15px;overflow-y: hidden;-ms-overflow-style: -ms-autohiding-scrollbar;border: 1px solid #ddd}
	.ou-rss-feedback .table-responsive>.table {margin-bottom: 0}
	.ou-rss-feedback .table-responsive>.table>tbody>tr>td,.ou-rss-feedback .table-responsive>.table>tbody>tr>th,.ou-rss-feedback .table-responsive>.table>tfoot>tr>td,.ou-rss-feedback .table-responsive>.table>tfoot>tr>th,.ou-rss-feedback .table-responsive>.table>thead>tr>td,.ou-rss-feedback .table-responsive>.table>thead>tr>th {white-space: nowrap}
	.ou-rss-feedback .table-responsive>.table-bordered {border: 0}
	.ou-rss-feedback .table-responsive>.table-bordered>tbody>tr>td:first-child,.ou-rss-feedback .table-responsive>.table-bordered>tbody>tr>th:first-child,.ou-rss-feedback .table-responsive>.table-bordered>tfoot>tr>td:first-child,.ou-rss-feedback .table-responsive>.table-bordered>tfoot>tr>th:first-child,.ou-rss-feedback .table-responsive>.table-bordered>thead>tr>td:first-child,.ou-rss-feedback .table-responsive>.table-bordered>thead>tr>th:first-child {border-left: 0}
	.ou-rss-feedback .table-responsive>.table-bordered>tbody>tr>td:last-child,.ou-rss-feedback .table-responsive>.table-bordered>tbody>tr>th:last-child,.ou-rss-feedback .table-responsive>.table-bordered>tfoot>tr>td:last-child,.ou-rss-feedback .table-responsive>.table-bordered>tfoot>tr>th:last-child,.ou-rss-feedback .table-responsive>.table-bordered>thead>tr>td:last-child,.ou-rss-feedback .table-responsive>.table-bordered>thead>tr>th:last-child {border-right: 0}
	.ou-rss-feedback .table-responsive>.table-bordered>tbody>tr:last-child>td,.ou-rss-feedback .table-responsive>.table-bordered>tbody>tr:last-child>th,.ou-rss-feedback .table-responsive>.table-bordered>tfoot>tr:last-child>td,.ou-rss-feedback .table-responsive>.table-bordered>tfoot>tr:last-child>th {border-bottom: 0}
	.ou-rss-feedback table>tbody>tr>th[scope="row"] {white-space: normal;} /* OU */
}

/* OU */
.ou-rss-feedback {position: relative;margin-bottom: 1rem;}
.ou-rss-feedback summary {font-size: 1rem;line-height: 1.58em;}
.ou-rss-feedback table {font-size: 0.75rem;margin-bottom: 0!important;}



/********************
 * Flex Slider Fixes
 ********************/
.flexslider .slides > li { left: initial; padding: 0; margin: 0; line-height: inherit; }
.flexslider .slides > li > a { display: block; }
.flexslider .slides > li img { margin: 0 auto; width: initial; height: 400px; }
.flexslider .slides { padding: 0; }
.flex-caption { box-sizing: border-box; }

/* Reset */
.flexslider ul,
.flexslider ol {
	overflow-x: initial;
	font-size: initial;
	padding: initial;
	margin: initial;
}
.flexslider li {
	position: initial;
	left: initial;
	padding: initial;
	margin: initial;
}

#body_section .flexslider a,
#body_section .flexslider a:visited {
    text-decoration: initial;
    font-weight: initial;
    border: none;
    box-shadow: none;
    transition: initial;
    padding: initial;
}

#body_section .flex-control-paging li a       { background: #666; background: rgba(0,0,0,0.5); }
#body_section .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
#body_section .flex-direction-nav a { color: rgba(0,0,0,0.8); background: none; }


/********************
 * Pretty Photo Fixes
 ********************/
.pp_details .pp_social { width: 160px; }
.pp_details .pp_social .facebook { width: 80px; }

/* Fix For OU11 */
.stick { position: relative; z-index: 0;}

.cms-only-error {
	margin-top:6px;
	font-size: 1rem;
}

.cms-only-error__heading {
	display: block;
	background: #b10000;
	color: #fff;
	padding: 12px 6px;
	border-radius: 3px 3px 0px 0px;
}

.cms-only-error__heading__sub {
	display: block;
	font-size: 0.8rem;
}

.cms-only-error__message {
	padding: 12px 6px;
	display: block;
	border: 2px solid #b10000;
	border-top: 0;
	border-radius: 0px 0px 4px 4px;
}	



