<footer class="footer">
  <div class="container footer-inner">
    <p class="footer-text">
      © {{ "now" | date: "%Y" }} Nagendra Tanikella. Some materials may be subject to publisher copyright.
    </p>

    <ul class="footer-icons">
      <li><a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener"><i class="fa fa-github"></i></a></li>
      <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="{{ site.google_scholar_url }}" target="_blank" rel="noopener"><i class="ai ai-google-scholar-square"></i></a></li>
    </ul>
  </div>
</footer>