<div class="fixed-top">
  <div class="navbar">
    <div class="container nav-inner">
      <a id="author-name" href="{{ site.url }}{{ site.baseurl }}">
        <img class="name-logo" src="{{ site.url }}{{ site.baseurl }}/images/nticon_sparse.png" alt="NT logo">
        <span class="name-text">{{ site.title }}</span>
      </a>

      <ul class="navbar-ul">
        {% for page in site.data.nav %}
          {% if page.name != "Home" %}
            <li class="nav-list">
              <a href="{{ site.url }}{{ site.baseurl }}{{ page.link }}">{{ page.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>