<div class="social-icons" style="text-align:center; margin: 10px auto;">
  <a href="{{ site.google_scholar_url }}" target="_blank" title="Google Scholar">
    <img src="{{site.url}}{{site.baseurl}}/docs/cv/Logos/Google_Scholar_logo.svg.png" alt="Google Scholar" class="social-icon-logo">
  </a>
  &nbsp;&nbsp;
  <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn">
    <img src="{{site.url}}{{site.baseurl}}/docs/cv/Logos/Linkedin.png" alt="LinkedIn" class="social-icon-logo">
  </a>
  &nbsp;&nbsp;
  <a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub">
    <img src="{{site.url}}{{site.baseurl}}/docs/cv/Logos/GitHub.png" alt="GitHub" class="social-icon-logo">
  </a>
  &nbsp;&nbsp;
  <a href="https://www.webofscience.com/wos/author/record/NZO-1270-2025" target="_blank" title="Web of Science">
    <img src="{{site.url}}{{site.baseurl}}/docs/cv/Logos/wos.jpg" alt="Web of Science" class="social-icon-logo">
  </a>
  &nbsp;&nbsp;
  <a href="https://orcid.org/0000-0003-1678-1932" target="_blank" title="ORCID">
    <img src="{{site.url}}{{site.baseurl}}/docs/cv/Logos/ORCID.png" alt="ORCID" class="social-icon-logo">
  </a>
  &nbsp;&nbsp;
  <a href="https://www.researchgate.net/profile/Nagendra-Tanikella" target="_blank" title="ResearchGate">
    <img src="{{site.url}}{{site.baseurl}}/docs/cv/Logos/Researchgate.jpeg" alt="ResearchGate" class="social-icon-logo">
  </a>
</div>
