/* Default table styles (data tables, not social-icons-table) */

table {
  margin: 15px 0;
  border-collapse: collapse;
  width: 100%;

  tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
    margin: 0;
    padding: 0;

    &:nth-child(2n) { background-color: #f8f8f8; }
  }

  th, td {
    font-weight: normal;
    border: 1px solid #ccc;
    text-align: left;
    margin: 0;
    padding: 10px 15px;

    &:first-child, &:last-child { margin: 0; }
  }

  th { font-weight: bold; }
}
