
/* base elements */
:root {
  --max-width: 100%;
}

.main-content.main-content *,
.main-content.main-content a:visited,
.content .content  *,
.content .content  a:visited,
.right-sidebar.right-sidebar *,
.right-sidebar.right-sidebar a:visited {
  color: CanvasText;
}

a {
  text-decoration-thickness: 1px !important;
}

.card a::after,
a::after {
  content: '\00a0['attr(href)']' !important;
  font-size: 13pt;
  position: static;
  width: auto !important;
  height: unset !important;
  background-image: none !important;
  overflow-wrap: anywhere;
  display: inline !important;
}

.card a:not([href*="http"])::after,
a:not([href*="http"])::after {
  content: '\00a0[https://www.mtu.edu'attr(href)']' !important;
}

a[href$=".jpg"]::after,
a[href$=".png"]::after,
a[href$=".gif"]::after,
a[href*="tel"]::after,
a[href*="mailto"]::after,
a[href*="omni"]::after,
a[href="https://www.mtu.edu"]::after,
a[href="www.mtu.edu"]::after {
  display: none !important;
}

a[class*="button"] {
  flex-wrap: wrap;
}

a[class*="button"]::after {
  display: block !important;
}

p { 
  text-align: left;
}

.slider,
blockquote {
  break-inside: avoid;
}

h2, .h2 {
  color: CanvasText;
}

blockquote {
  color: CanvasText !important;
}

.gold-bar-heading {
  box-shadow: none !important;
  padding-bottom: 0;
  border-bottom: 3px solid CanvasText;
}

/* Section fit */
.section-fit-background {
  min-height: 0 !important;
  padding: 0;
  border-width: medium 0;
  border-style: solid;
  border-color: CanvasText;
}

.section-fit-background,
.section-fit-background::before {
  background-color: Canvas !important;
}

.section-fit-background.section-fit-background * {
  color: CanvasText;
}
.section-fit-background img{
  display: none;
}

/* Nav and site title */
.breadcrumbs li a[href='/'] {
  text-indent: 0;
  width: auto;
  background-image: none;
  vertical-align: middle;
}

.breadcrumbs a::after {
  font-size: 0.9em !important;
}

.mtu-nav {
  position: static;
}

.mtu-nav + * {
  padding-top: 0;
}

.pre-nav-wrapper.background-black {
  background-color: Canvas;
}

.pre-nav-logo-link::after {
  display: none;
}

.pre-nav-logo-image {
  filter: saturate(0) brightness(0) invert(0);
}

.mtu-logo-footer {
  display: none;
}

.mobile-menu-button {
  display: none;
}

.multi-media_wrapper {
  width: auto;
  clear: right;
}

[aria-label="Site Title"] {
  background-color: Canvas;
  padding: 0;
  border-width: 1px 0 1px;
  border-style: solid;
}

.audience-search,
.nav-bar {
  display: none;
}

/* hero */
#main .multi-media_content.multi-media_content {
  background-color: rgb(255,255,255,0.9);
  text-shadow: none;
}
.multi-media_content * {
  color: CanvasText !important;
}

.multi-media_content::before {
  display: none;
}

/* sliders */
.sliders .slider-content {
  display: block;
}

.toggle.slider-group {
  display: none !important;
}

.bar + .slider-content {
  border-top: none;
}

.slider[aria-expanded='false'] .bar h2, 
.slider .bar h2, .slider[aria-expanded='false'] .bar .faq, 
.slider .bar .faq, .slider[aria-expanded='false'] .bar h4, 
.slider .bar h4, .slider .accordion-title > div {
  background-image: none !important;
  opacity: 1;
}

.slider {
  border: thin solid CanvasText;
}

div:not(.faqs) .slider .number {
  transform: translate(3px, -50%);
  box-shadow: 0px 0 0 1px CanvasText;
}

/* movies */
.movie button.playhead {
  background: none !important;
  position: static;
  width: 100% !important;
}

.movie button.playhead::after {
  content: '[Video] ' attr(aria-label) !important;
  font-size: 13pt !important;
}

.movie button.playhead svg {
  display: none !important;
}

/* top part of page*/
#leftnav {
 display: none;
}

#toggle-left,
.nav-title-heading {
  display: none;
}

  #banner_image::after {
    float: none;
  }

  /* grid x */
.grid-x.medium-2-up:has(.card[class*="background"]) {
  grid-template-columns: repeat(2, 1fr) !important;
}

.grid-x.medium-2-up .column:has(.card[class*="background"]) {
  grid-column-start: auto !important;
  grid-column-end: auto !important;
}

  /* buttons */
  .button-black,
  .button-blank {
    background: Canvas !important;
    color: CanvasText !important;
  }

  /* backgrounds */
  .background-black,
  .background-dark-gray {
    background-color: Canvas !important;
    border-top: medium solid CanvasText;
    border-bottom: medium solid CanvasText;
  }

  .background-black *,
  .background-dark-gray * {
    color: CanvasText !important;
  }


  /* touts */
  .tout-stat {
    background-color: Canvas !important;
    color: CanvasText !important;
    border-width: 1px;
    border-style: solid;
  }
  a.tout-stat::after {
    font-size: 0.9rem;
padding: 0 1ch;
}

.tout-cell {
  break-inside: avoid;
}


/* Cards */
.card * {
  font-size: 1.1rem !important;
}

.card-background-image {
  padding: 0 1rem;
  background-color: Canvas !important;
  border: 1px solid CanvasText;
  break-inside: avoid;
}

.card-background-image .card-link {
  margin-bottom: 2rem;
}

.card a::after,
a.card-link::after {
  display: block;
  position: static !important;
}

.card-background-image .card-link .card-hero{
  position: static;
  order: 1;
}

.card-background-image .card-link .card-section {
  order: 0;
  color: CanvasText;
}

.card-background-image .card-heading {
  text-shadow: none;
  background-image: none;
}

.card-background-image > .card-section {
  display: none;
}

.card-background-image .card-hero img {
  position: static;
}

.column-inner > .card, .column-inner > .card ~ *, .column-flex > .card ~ * {
  flex: auto;
}
/* Program sorter */
.program-listing__description.program-listing__description>.column:nth-of-type(3), 
.program-listing__description.program-listing__description>.column:nth-of-type(4), 
.program-listing__type.program-listing__type,
.program-listing__description,
.program-listing__description * {
  background-color: Canvas;
}

.program-listing.is-active:before {
  color: Canvas;
}
.program-listing__description * {
  color: CanvasText;
}

.program-listing__inner.program-listing__inner * {
  color: Canvas;
}

/* Tables */
.offscreen-scroll {
  overflow: visible !important;
}

.offscreen-scroll::before,
.offscreen-scroll::after {
  display: none !important;
}

table {
  overflow-x: visible !important;
}

/* News */
.hero__social,
.popover {
  display: none;
}

.caption-wrapper:has(.right) {
  float: right;
}

.caption-wrapper:has(.left) {
  float: left;
}

.caption-wrapper::before,
.caption-wrapper::after {
    clear: both;
    content: '';
    display: table;
}

.inline-aside {
  max-width: none !important;
  break-inside: avoid;
  width: 100%;
  margin: 0;
}

.hero__info-button,
.hero__comments,
#comment-wrap {
  display: none;
}

.small-story-wrapper {
  max-width: 49%;
  float: left;
}

/* in content social icons */
#social-links {
  display: none;
}

[class*="social"] li {
  display: block !important;
  text-align: left;
}

[class*="social"] a {
  position: relative;
  width: 3em !important;
  height: 3em;
  background-size: 1em;
}

[class*="social"] a::after{
  position: absolute;
  left: 3.25em;
  top: 0.75em;
  text-indent: 0 !important;
  color: #000;
  width: 80vw !important;
  line-height: 1 !important;
}

/* Footer */

  .to-top {
    display: none !important;
  }

  footer {
    border-top: medium solid CanvasText;
    break-inside: avoid;
  }

  footer *,
  footer *::before,
  footer *::after {
    color: CanvasText !important;
    background-color: Canvas;
    border-right-color: CanvasText !important;
  }

  .footer__pre-nav-wrapper,
  .footer-menu,
  .footer__contact-social,
  .footer__contact-info .social-icons,
  .footer__post-info > div:first-of-type {
    display: none;
  }

.footer__contact-social {
  align-items: center;
}

  .footer__post-info {
    justify-content: center;
  }