/*
	Theme Name: GoodLife Child Theme
	Theme URI: http://themeforest.net/user/fuelthemes
	Description: <strong>GoodLife Magazine WordPress Theme by <a href="http://themeforest.net/user/fuelthemes?ref=fuelthemes">Fuel Themes</a></strong> – Update notifications available on Twitter and Themeforest <a href="http://twitter.com/anteksiler">Follow us on twitter</a> – <a href="http://themeforest.net/user/fuelthemes">Follow us on Themeforest</a>
	Version: 2.1.6
	Author: fuelthemes
	Template: goodlife-wp
*/

@import url("../goodlife-wp/style.css");

.widget{
	background-color: #fcfcfc !important;
}
.ajdg_bnnrwidgets{
	background: #fcfcfc !important;
  }
.sidebar_inner.fixed-me{
	  max-width: 270px;
  }